body{
    text-align: center;
}
.box-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 20%;
    margin: 15px;
}
.red{
    background-color: rgb(196, 72, 117);
}
.green{
    background-color: rgb(44, 200, 148);
}
.blue{
    background-color: rgb(217, 170, 30);
}
.yellow{
    background-color: rgb(21, 134, 204);
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.start-btn{
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.203);
    color: rgb(0, 0, 0);
    border: 5px solid black;
    border-radius: 30px;
    font-size: large;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
/* media quaries */
@media (max-width: 431px){
    .btn {
        height: 150px;
        width: 150px;
    }
    .box-container{
        margin-top: 100px;
    }
}